
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <div>
        <h1>Admin Page</h1>
        <p>@Html.ActionLink("List of users", "Index")</p>
    </div>
</body>
</html>
