@model CoffeeShopProject.Models.User
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>

<head>
</head> 

<body>
    <h1 style="text-align:center"> Welcome!</h1>
    <div>
        <form action="Register" method="post">
            <p> Register </p>
            <input id="sendDetails" type="submit" value="Register" />
        </form>
        <form action="Login" method="post">
            <p>Login</p>
            <input id="sendDetails" type="submit" value="Login" />
        </form>

    </div>
</body>
</html>